---
# Only the main Sass file needs front matter (the dashes are enough)
---

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  margin: 20px;
}

$global-font-family: 'Roboto';
$header-font-family: 'Freckle Face';
$caption-font-family: 'Freckle Face';

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wrapper  {
  height: 300px;
}

//.archive__item-teaser {
//  background: red;
//}


.masthead {
  height: auto;
}

// grid stuff for layout in footer
.wrapper {
  display: grid;
  grid-template-areas: "a b";
}

.quick__links {
  grid-area: a;
}

.other__links {
  grid-area: b;
  align-self: right;
  justify-self: right;
}

// bottom links
.footer__link {
  font-family: 'Roboto';
  font-size: 16px;
}

// bottom links
.footer__header {
  font-family: 'Roboto';
  font-size: 20px;
}

// menu links
.masthead__menu-item {
  font-family: 'Amatic SC';
  font-size: 30px;
}

// product titles
.archive__item-title {
  font-family: 'Amatic SC';
  font-size: 30px;
}

// product prices
.archive__item-excerpt {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}

// about
.page__content {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}