---
# Only the main Sass file needs front matter (the dashes are enough)
---

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  margin: 20px;
}

$global-font-family: 'Roboto';
$header-font-family: 'Freckle Face';
$caption-font-family: 'Freckle Face';

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wrapper  {
  height: 300px;
}

//.archive__item-teaser {
//  background: red;
//}


.masthead {
  height: auto;
}

// grid stuff for layout in footer
.wrapper {
  display: grid;
  grid-template-areas: "a b";
}

.quick__links {
  grid-area: a;
}

.other__links {
  grid-area: b;
  align-self: right;
  justify-self: right;
}

// bottom links
.footer__link {
  font-family: 'Roboto';
  font-size: 16px;
}

// bottom links
.footer__header {
  font-family: 'Roboto';
  font-size: 20px;
}

// menu links
.masthead__menu-item {
  font-family: 'Amatic SC';
  font-size: 30px;
}

// product titles
.archive__item-title {
  font-family: 'Amatic SC';
  font-size: 30px;
}

// product prices
.archive__item-excerpt {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}

// about
.page__content {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}

// slideshow

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}