---
# Only the main Sass file needs front matter (the dashes are enough)
---

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  margin: 20px;
}

$global-font-family: Times, serif !default;
$header-font-family: Times, serif !default;
$caption-font-family: Times, serif !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wrapper  {
  height: 500px;
}

.masthead {
  height: 500px;
}

.masthead__menu-item {
  font-family: 'Times New Roman', Times, serif;
}

.archive__item-title {
  font-family: 'Times New Roman', Times, serif;
}