---
# Only the main Sass file needs front matter (the dashes are enough)
---

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  margin: 20px;
}

$global-font-family: 'Roboto';
$header-font-family: 'Freckle Face';
$caption-font-family: 'Freckle Face';

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wrapper  {
  height: 500px;
}


.masthead {
  height: 150px;
}

// menu links
.masthead__menu-item {
  font-family: 'Freckle Face';
  font-size: 35px;
}

// product titles
.archive__item-title {
  font-family: 'Freckle Face';
  font-size: 30px;
}

// product prices
.archive__item-excerpt {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}

// about
.page__content {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
}