---
# Only the main Sass file needs front matter (the dashes are enough)
---

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  margin: 20px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


