---
layout: splash
---
{% assign product = site.data.products[page.product_id] %}

<script>

  var slideIndex = 1;

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }


  function update_price() {
    var size = document.getElementById("size");
    var size_cost = 0;
    var size_description = "-";
    if (size != null) {
      size_cost = parseFloat(size.value);
      size_description = size.options[size.selectedIndex].text;
    }
    var option = document.getElementById("options");
    var option_cost = 0;
    var option_description = "-";
    if (option != null) {
      option_cost = parseFloat(option.value);
      option_description = option.options[option.selectedIndex].text;
    }
    var p = ({{ product.price }} + size_cost + option_cost).toFixed(2);
    document.getElementById("price").innerText = "$" + p.toString();
    document.getElementById("paypal_price").value = p.toString();
    document.getElementById("paypal_note").value = "[size] : " + size_description + "    [option] : " + option_description;
    console.log( document.getElementById("paypal_note").value );
  }


  function init() {
    update_price();
    showSlides(slideIndex);
  }

  window.onload = init;



</script>


<div class="flex-grid">

  <!-- Slideshow container -->
  <div class="col">
    {% if product.images %}
    <div class="slideshow-container">
      {% for image in product.images %}
        <div class="mySlides fade">
          <div class="numbertext">{{forloop.index}}</div>
          {% if image.path == "video" %}
            <video width="480" height="280" controls autoplay="autoplay" muted="muted">
              <source src="https://gitlab.com/jeffreyjohnens/test_video/-/raw/master/MMM_DEMO.mp4" type="video/mp4">
            </video>
          {% else %}
            <img src="{{image.path}}" style="width:500px">
          {% endif %}
          
          <div class="text">{{image.caption}}</div>
        </div>
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      {% for image in product.images %}
        <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
      {% endfor %}
    </div>
    {% else %}
      <img src="{{ product.image }}">
    {% endif %}
  </div>

  <div class="col">
    <div class="row">
      <span class="archive__item-title">{{ product.name }}<span>
    </div>

    <br/><br>

    {% if product.sizes %}
      <label for="size">Size:</label>
      <select name="size" id="size" onchange="update_price()">
        {% for size in product.sizes %}
          <option value={{size.price}}>{{size.size}}</option>
        {% endfor %}
      </select>
    {% endif %}

    {% if product.options %}
      <label for="options">Options:</label>
      <select name="options" id="options" onchange="update_price()">
        {% for option in product.options %}
          <option value={{option.price}}>{{option.name}}</option>
        {% endfor %}
      </select>
    {% endif %}

    <div class="row">
      <span class="archive__item-excerpt" id="price">${{ product.price }}</span>
    </div>
    <br/><br/>

    <div class="row">
      <p class="archive__item-excerpt">{{ product.details }}</p>
    </div>

    {% if product.materials %}
      <label for="material_list">Materials:</label>
      <ul name="materials_list" id="materials_list">
      {% for material in product.materials %}
        <li>{{material}}</li>
      {% endfor %}
      </ul>
    {% endif %}   
    
    <!--
    <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="VFECZ4KG25HS6">
      <table style="display:none">
      <tr><td><input type="hidden" name="on0" value="notes">notes</td></tr><tr><td><input type="text" name="os0" maxlength="200" id="paypal_note"></td></tr>
      </table>
      <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    -->
    
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="margin-left:-20px">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="colour.is.good.shop@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="{{ product.name }}">
      <input type="hidden" name="item_number" value="{{ page.product_id }}">
      <input type="hidden" name="amount" id="paypal_price" value="{{ product.price }}">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="tax_rate" value="0.000">
      <input type="hidden" name="shipping" value="0.00">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
      
      <table style="display:none">
      <tr><td><input type="hidden" name="on0" value="notes">notes</td></tr><tr><td><input type="text" name="os0" maxlength="200" id="paypal_note"></td></tr>
      </table>

      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>