---
layout: splash
---
{% assign product = site.data.products[page.product_id] %}

<script>

  var merged_options = {{ site.data.merged_options[page.product_id] }};

  var slideIndex = 1;

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }


  function update_price() {
    var index = 0;
    var size = document.getElementById("size");
    var size_description = "-";
    if (size != null) {
      size_description = size.options[size.selectedIndex].text;
    }
    var style = document.getElementById("style");
    var style_description = "-";
    if (style != null) {
      style_description = style.options[style.selectedIndex].text;
    }
    var clasp = document.getElementById("clasp");
    var clasp_description = "-";
    if (clasp != null) {
      clasp_description = clasp.options[clasp.selectedIndex].text;
    }

    var value = size_description + "&" + style_description + "&" + clasp_description;
    document.getElementsByName("os0")[0].value = merged_options[value]["value"];
    document.getElementById("price").innerText = "$" + merged_options[value]["price"] + " CAD";

  }


  function init() {
    update_price();
    {% if product.images.size > 1 %}
    showSlides(slideIndex);
    {% endif %}
  }

  window.onload = init;

</script>


<div class="flex-grid" style="flex-flow:row wrap;">

  <!-- Slideshow container -->
  <div class="col" style="min-width:480px;">
    {% if product.images.size > 1 %}
    <div class="slideshow-container">
      {% for image in product.images %}
        <div class="mySlides fade">
          <div class="numbertext">{{forloop.index}}</div>
          {% if image.video %}
            <video width="480" height="280" controls autoplay="autoplay" muted="muted">
              <source src="{{image.path}}" type="video/mp4">
            </video>
          {% else %}
            <img src="{{image.path}}" style="width:480px">
          {% endif %}
          <div class="text">{{image.caption}}</div>
        </div>
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      {% for image in product.images %}
        <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
      {% endfor %}
    </div>
    {% else %}
      <img src="{{ product.images[0].path }}">
    {% endif %}
  </div>

  <div class="col" style="min-width:400px;">
    <div class="row">
      <span class="archive__item-title">{{ product.name }}<span>
    </div>

    <br/><br>

    {% if product.sizes %}
      <label for="size">Size:</label>
      <select name="size" id="size" onchange="update_price()">
        {% for size in product.sizes %}
          <option value={{size.price}}>{{size.value}}</option>
        {% endfor %}
      </select>
    {% endif %}

    {% if product.styles %}
      <label for="style">Style:</label>
      <select name="style" id="style" onchange="update_price()">
        {% for style in product.styles %}
          <option value={{style.price}}>{{style.value}}</option>
        {% endfor %}
      </select>
    {% endif %}

    {% if product.necklace %}
      <label for="clasp">Clasp:</label>
      <select name="clasp" id="clasp" onchange="update_price()">
        {% for clasp in site.data.clasps.clasps %} %}
          <option value={{clasp.price}}>{{clasp.value}}</option>
        {% endfor %}
      </select>
    {% endif %}

    </br>
    <div class="row">
      <span class="archive__item-excerpt" id="price">${{ product.price }}</span>
    </div>

    {{ site.data.paypal_buttons[page.product_id] }}
    
    <br/>

    <div class="row">
      <p class="archive__item-excerpt">{{ product.details }}</p>
    </div>

    {% if product.materials %}
      <label for="material_list">Materials:</label>
      <ul name="materials_list" id="materials_list">
      {% for material in product.materials %}
        <li>{{material}}</li>
      {% endfor %}
      </ul>
    {% endif %}   

    <div class="row">
      <p class="archive__item-excerpt">For information on jewelry care, <a href="{{ site.baseurl }}{% link jewelry_care.markdown %}" style="color:#0b46d2">click here</a>.</p>
    </div>
    
  </div>
</div>